body {
	font-family: Arial, Helvetica, sans-serif;
	background:#FFF;
}
*{
	margin:0;
	padding:0;
}
.main{
	background: url("img/main_bg.png") repeat scroll 0 0 transparent;
    height: 540px;
    margin: 108px auto auto;
    width: 800px;}
p{
	color: #000000;
    float: left;
    margin-top: 25px;
    size: 12px;}
.table{
	margin: auto;
    padding-top: 200px;
    width: 225px;}

.in{
	float: left;}
.username{
	}
	
.name_box,.pad_box{
	float:right;
	margin-top:25px;}

.button{
	float:right;
	margin-top:20px;}